name: PlatformIO CI

on:
  pull_request:
    branches:
      - main
      - release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Check PlatformIO Project
        run: |
          pio check --skip-packages --fail-on-defect high -e development -f src

      - name: Unit Test PlatformIO Project
        run: |
          pio test -e test

  check_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'pnpm'
          cache-dependency-path: Documentation/pnpm-lock.yaml

      - name: Install dependencies
        run: |
          cd Documentation
          pnpm install

      - name: Validate documentation
        run: |
          cd Documentation
          pnpm run mint:validate
